#main-overlay {
	background: #fff;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
}
#main-spinner{
	position: absolute;
	left: 140px;
	top: 50px;
	z-index: 1000;
}
#main-container{
	
}

